/* using the following packages: eslint-plugin-import eslint-plugin-jsx-a11y eslint-plugin-react eslint-plugin-import eslint-config-google */
{
 "extends": "google",
 "plugins": [
        "html"
    ],
 "env": {
        "es6": true
    },
 "rules": {
            "max-len": [2, 120, 4, {
			"ignoreUrls": true,
			"ignoreComments": true,
			"ignoreRegExpLiterals": true,
			"ignoreStrings": true,
			"ignoreTemplateLiterals": true
		}],
	    "prefer-const": 0,
            "no-var": 0,
            "require-jsdoc": 0,
            "no-unused-vars": 0,
            "quotes": ["error", "double"]
           }
}
